@tailwind base;
@tailwind components;
@tailwind utilities;

/* Loader */
.circle {
  position: relative;
  aspect-ratio: 1;
}

.letter {
  position: absolute;
  top: 0;
  left: 50%;
  font-family: "Neue Machina Bold", sans-serif;
  color: #ffba00;
}
